body {
	background-color: lightgray;
}

#page {
	margin: 1.5em auto 3em auto;
	background-color: white;
	padding: 2em 3em 1.5em 3em;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 8px #aaa;
}

.calendar .holiday
{
    background-color: orange;
}

.calendar .away
{
    background-color: lightpink;
}

.calendar .lecture
{
    background-color: lightsalmon;
}

.calendar .section
{
    background-color: lightblue;
}

.calendar .assignment,
.calendar .milestone,
.calendar .exercise
{
    background-color: lightgreen;
}

.calendar .exam,
.calendar .presentation
{
    background-color: mediumpurple;
}