body {
	background-color: lightgray;
}

#page {
	margin: 1.5em auto 3em auto;
	background-color: white;
	padding: 2em 3em 1.5em 3em;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 8px #aaa;
}

.calendar .holiday
{
    background-color: orange;
}

.calendar .away
{
    background-color: lightpink;
}

.calendar .lecture
{
    background-color: lightsalmon;
}

.calendar .section
{
    background-color: lightblue;
}

.calendar .assignment
{
    background-color: lightgreen;
}

.calendar .major
{
    background-color: lavender;
}

.calendar .officehour
{
    background-color: lightgoldenrodyellow;
}

blockquote p {
	font-size: 1em;
	font-weight: normal;
}

/* make calendar go to single column at smallest width */
@media (max-width: 767px) {
  .calendar, .calendar table, .calendar tr, .calendar td, .calendar th, .calendar tbody, .calendar thead {
    display: block;
  }
  .calendar > tbody > tr > td {
    width: auto;
  }
}