body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:18px;
  top:18px;
  width:40px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:254px;
  top:18px;
  width:46px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:29px;
  top:122px;
  width:260px;
  height:110px;
  font-family:'Calibri-Bold', 'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:111px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:44px;
  top:388px;
  width:230px;
  height:105px;
  font-family:'Calibri', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:106px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  white-space:nowrap;
}
