body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:67px;
  top:8px;
  width:190px;
  height:98px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:98px;
}
#u1 {
  position:absolute;
  left:2px;
  top:41px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:121px;
  width:95px;
  height:84px;
  font-family:'Calibri', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:85px;
}
#u2_img.mouseOver {
}
#u2.mouseOver {
  opacity:0.75;
}
#u3 {
  position:absolute;
  left:2px;
  top:18px;
  width:91px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:163px;
  top:121px;
  width:95px;
  height:84px;
  font-family:'Calibri', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:85px;
}
#u4_img.mouseOver {
}
#u4.mouseOver {
  opacity:0.75;
}
#u5 {
  position:absolute;
  left:2px;
  top:18px;
  width:91px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:60px;
  top:213px;
  width:95px;
  height:81px;
  font-family:'Calibri', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:82px;
}
#u6_img.mouseOver {
}
#u6.mouseOver {
  opacity:0.75;
}
#u7 {
  position:absolute;
  left:2px;
  top:16px;
  width:91px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:163px;
  top:213px;
  width:95px;
  height:81px;
  font-family:'Calibri', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:82px;
}
#u8_img.mouseOver {
}
#u8.mouseOver {
  opacity:0.75;
}
#u9 {
  position:absolute;
  left:2px;
  top:16px;
  width:91px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:349px;
  width:320px;
  height:50px;
  font-family:'Calibri', 'Calibri';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
#u11 {
  position:absolute;
  left:20px;
  top:6px;
  width:280px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:399px;
  width:320px;
  height:50px;
  font-family:'Calibri', 'Calibri';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
#u13 {
  position:absolute;
  left:20px;
  top:6px;
  width:280px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:449px;
  width:320px;
  height:50px;
  font-family:'Calibri', 'Calibri';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
#u15 {
  position:absolute;
  left:20px;
  top:6px;
  width:280px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:499px;
  width:320px;
  height:50px;
  font-family:'Calibri', 'Calibri';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
#u17 {
  position:absolute;
  left:20px;
  top:6px;
  width:280px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:265px;
  top:404px;
  width:45px;
  height:39px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:39px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:265px;
  top:504px;
  width:45px;
  height:39px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:39px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:10px;
  top:318px;
  width:111px;
  height:24px;
  font-family:'Calibri-Bold', 'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:131px;
  top:320px;
  width:93px;
  height:22px;
  font-family:'Calibri', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:23px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:233px;
  top:320px;
  width:74px;
  height:22px;
  font-family:'Calibri', 'Calibri';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:23px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
