@charset "utf-8";
/* CSS Document */


span.anchor {
	display: block; 
	margin-top: -150px;
	height: 150px;
	visibility:hidden;	
}
a:link {
	text-decoration: none; 	
}
a:visited {
	text-decoration: none; 	
}
a:hover {
	text-decoration: none; 	
}
a:active {
	text-decoration: none; 	
}
body {
	font-family: "Arial", Helvetica, sans-serif; 
	background-color: #e7f6d2;	
}
button {
	width: 200px;
	font-size: 125%;
	padding: 10px; 
	display: block;
	margin-bottom: 10px;
	background: #e7f6d2;
	border-radius: 5px;
	padding: 10px;
}
button:hover {
	background-color: #8dc63f;
	border-radius: 5px;
	color: white;
}	
#button_wrapper {
	text-align: center; 
}
.button_row {
	display: inline-block;
	margin:  0 auto;
	padding: 10px;
}
h1, h2 {
	display: block; 
	visibility: visible;
	text-align: center; 
	font-size: 60px;		
}
.inner_heading {
	font-size: 45px;
}
#logoman {
	display: block; 
	margin: 15px auto 15px auto;
}
#navigation {
	height: 100px;	
	background-color: #666666; 
	border-top-style: solid; 
	border-bottom-style: solid; 
	border-top-color: #666666;  
	border-bottom-color: #666666; 
	border-top-width: 10px; 
	border-bottom-width: 40px;
	top: 0px; 
	position: fixed;
	width: 1002px;
	margin-left: -1px;
	z-index: 99999;
}
#navigation li {
	list-style-type: none; 
	display: inline-block; 
	color: white; 
	font-size: 30px; 
	padding-right: 15px;
	padding-left: 15px; 
	vertical-align: middle; 
	text-shadow: 1px, 1px, #f5f5f5;
}
#o1, #o2 {
	clear: both;	
	padding-bottom: 20px;
	color: #8dc63f;
}
#o1_text {
	float: left; 
	width: 45%; 	
	padding-left: 6%;
}
#o2 img {
	padding-left: 6%;	
}
#o2_text {
	float: right; 
	width: 45%; 
	padding-right: 6%;
}
.team_member {
	width: 39%;	
	float: left;
	padding: 0% 5% 0% 5%;
}

#team, #video {
	background-color: #666666; 	
	color: white; 
	clear: both; 
	padding-top: 15px;
}
#team h2 {
	font-size: 35px;
	color: #8dc63f;
	text-align: left; 
}
#team p {
	color: white;	
}
.team_row {
	height: 500px;
	display: block;
}
#team_wrapper {
	width: auto;	
}
#team_wrapper img {
	display: block;
	margin-left: auto; 
	margin-right: auto; 
}
#stopper {
	clear: left;	
}
#overview, #documents {
	color: #666666; 
	clear: both;
	padding-bottom: 35px;
}
#overview p {
	color: #666666;
	padding-left: 6%;
	padding-right: 6%;
	text-align: center; 
}
iframe {
	display: block;
	margin: 0 auto;	
	padding-bottom: 35px;
}
#video p {
	vertical-align: middle; 
	text-align: center;	
}
#wrapper {
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 150px;
	width: 1000px; 
	background-color: #f5f5f5; 
	border-style: solid; 
	border-width: 1px; 
	border-color: #666666; 
}
