body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:482px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:-3px;
  width:481px;
  height:895px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:895px;
}
#u1 {
  position:absolute;
  left:2px;
  top:440px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:85px;
  top:170px;
  width:320px;
  height:548px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
